<div class="container mt-5 pt-5">
  <div>
    <div class="row p-3">
      <h4 class="col-md-10 col-12 pt-3"><u>Proyectos</u></h4>
      <button
        type="button"
        class="btn btn-outline-dark col-md-2 col-12"
        routerLink="/nuevoProyecto"
        *ngIf="isLogged"
      >
        Agregar Proyecto
      </button>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    <div class="col"  *ngFor="let Proyecto of proyecto">
      <div class="card h-100">
        <img
          src="{{ Proyecto.imgProy }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ Proyecto.nombreProy }}</h5>
          <p class="card-text">
            {{ Proyecto.tipoProy }}
          </p>
          <button href="#" class="btn btn-primary"
            ><i class="bi bi-plus-square"></i
          ></button>
        </div>

        <div class="d-flex justify-content-center pb-3">
          <div
            class="btn-group btn-group-sm"
            role="group"
            aria-label="Basic outlined example"
            *ngIf="isLogged"
          >
            <button
              type="button"
              class="btn btn-outline-success p-1 fs-5"
              routerLink="/editarProyecto/{{ Proyecto.id }}"
            >
              <abbr title="Editar"
                ><i class="bi bi-pencil-square px-3"></i
              ></abbr>
            </button>

            <button
              type="button"
              class="btn btn-outline-danger p-1 fs-5"
              (click)="delete(Proyecto.id)"
            >
              <abbr title="Borrar"><i class="bi bi-x-square px-3"></i></abbr>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
