<div class="row m-5">
    <h4 class="">Proyectos</h4>
    <div class="card justify-content-center pt-2 col-sm-4 col-md-4 border-0">
        <img src="../../../assets/IMG/25515.jpg" class="card-img-top" alt="...">
      
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Un texto de ejemplo rápido para colocar próximo al título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card justify-content-center pt-2 col-sm-4 col-md-4 border-0">
        <img src="../../../assets/IMG/25515.jpg" class="card-img-top" alt="...">
      
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Un texto de ejemplo rápido para colocar próximo al título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card justify-content-center pt-2 col-sm-4 col-md-4 border-0">
        <img src="../../../assets/IMG/25515.jpg" class="card-img-top" alt="...">
      
        <div class="card-body">
          <h5 class="card-title">Título de la tarjeta</h5>
          <p class="card-text">Un texto de ejemplo rápido para colocar próximo al título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
