<div class="container my-5">
  <div>
    <div class="row p-3">
      <h4 class="col-md-10 col-12 pt-3"><u>Proyectos</u></h4>
      <button
        type="button"
        class="btn btn-outline-dark col-md-2 col-12"
        routerLink="/nuevoProyecto"
        *ngIf="isLogged"
      >
        Agregar Proyecto
      </button>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4" id="proyecto">
    <div class="col" *ngFor="let Proyecto of proyecto">

      <div class="card m-0 p-0 text-center h-100 hover">

        <img src="{{ Proyecto.imgProy }}" class="card-img-top" alt="{{Proyecto.nombreProy}} imagen" />

        <div class="card-body bg-success">
          <h5 class="card-title">{{ Proyecto.nombreProy }}</h5>
          <p class="card-text">
            {{ Proyecto.tipoProy }}
          </p>

        <!-- Ver Detalles -->
          <button
            type="button"
            class="btn btn-outline-dark col-6 "
            routerLink="/detalleProyecto/{{ Proyecto.id }}"
          >
            Ver más
          </button>

          <!-- editar / borrar -->
          <div class="d-flex justify-content-center py-3">
            <div
              class="btn-group btn-group-sm"
              role="group"
              aria-label="Basic outlined example"
              *ngIf="isLogged"
            >
              <button
                type="button"
                class="btn btn-outline-success p-1 fs-5"
                routerLink="/editarProyecto/{{ Proyecto.id }}"
              >
                <abbr title="Editar"
                  ><i class="bi bi-pencil-square px-3"></i
                ></abbr>
              </button>
  
              <button
                type="button"
                class="btn btn-outline-danger p-1 fs-5"
                (click)="delete(Proyecto.id)"
              >
                <abbr title="Borrar"><i class="bi bi-x-square px-3"></i></abbr>
              </button>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
