<div class="m-5" *ngIf="educacion">
  <h1>Actualizar educacion</h1>

  <form (ngSubmit)="onUpdate()" novalidate #form="ngForm">
    <!-- puesto -->
    <div class="mb-3">
      <label for="nombreExp" class="form-label">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="nombreExp"
        name="nombreExp"
        [(ngModel)]="educacion.nombreEdu"
        required
        placeholder="Puesto ocupado"
      />
    </div>

    <!-- Empresa -->
    <div class="mb-3">
      <label for="lugarExp" class="form-label">Nombre de la institucion</label>
      <input
        type="text"
        class="form-control"
        id="lugarExp"
        name="lugarExp"
        [(ngModel)]="educacion.lugarEdu"
        required
        placeholder="Institucion"
      />
    </div>

    <!-- Fecha -->
    <div class="mb-3">
      <label for="fechaExp" class="form-label">Fecha Ingreso - Egreso</label>
      <input
        type="text"
        class="form-control"
        id="fechaExp"
        name="fechaExp"
        [(ngModel)]="educacion.fechaEdu"
        required
        placeholder="mm-aaaa / mm-aaaa"
      />
    </div>

    <div class="mb-3">
      <label for="descripcionExp" class="form-label">Desciption</label>
      <textarea
        class="form-control"
        id="descripcionExp"
        name="descripcionExp"
        [(ngModel)]="educacion.descripcionEdu"
        required
        rows="3"
        placeholder="Desciption de tareas realizadas"
      ></textarea>
    </div>

    <!-- Imagen -->

    <div class="mb-3">
      <label for="imgEdu" class="form-label">Logo institucion</label>
      <input
        type="file"
        class="form-control"
        id="imgEdu"
        name="imgEdu"
        [(ngModel)]="educacion.imgEdu"
        required
        accept="image/*"
        (change)="uploadImage($event)"
      />
    </div>

    <button type="submit" class="btn btn-success">
      Actualizar educacion
    </button>
  </form>
</div>
