<div class="card m-5 border-0">
  <div class="">
    <ul class="list-group">
      <li class="row p-3">
        <h4 class="col-xl-10 col-8 pt-3">Educación</h4>
        <button type="button" class="btn btn-outline-dark col-xl-2 col-4">
          Agregar educación
        </button>
      </li>

      <li class="list-group-item ps-1">
        <h4>Puesto</h4>
        <h5 class="text-muted">fecha</h5>
        <a href="">empresa</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ullam ut
          debitis doloremque nam, sint aliquam asperiores dolorum aperiam hic.
        </p>
      </li>

      <li class="list-group-item ps-1">
        <h4>Puesto</h4>
        <h5 class="text-muted">fecha</h5>
        <a href="">empresa</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ullam ut
          debitis doloremque nam, sint aliquam asperiores dolorum aperiam hic.
        </p>
      </li>

      <li class="list-group-item ps-1">
        <h4>Puesto</h4>
        <h5 class="text-muted">fecha</h5>
        <a href="">empresa</a>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ullam ut
          debitis doloremque nam, sint aliquam asperiores dolorum aperiam hic.
        </p>
      </li>
    </ul>
  </div>
</div>
