<div class="card m-5 border-0">
  <div class="">
    <ul class="list-group">
      <li class="row p-3">
        <h4 class="col-xl-10 col-8 pt-3"><u>Educacion</u></h4>
        <button
          type="button"
          class="btn btn-outline-dark col-xl-2 col-4"
          routerLink="/nuevaedu"
          *ngIf="isLogged"
        >
          Agregar Educacion
        </button>
      </li>

      <li class="list-group-item p-3" *ngFor="let Educacion of educacion">
        <h4>{{ Educacion.nombreEdu }}</h4>
        <h5 class="text-muted">{{ Educacion.fechaEdu }}</h5>
        <h6>{{ Educacion.lugarEdu }}</h6>
        <p>{{ Educacion.descripcionEdu }}</p>

        <div
          class="btn-group btn-group-sm"
          role="group"
          aria-label="Basic outlined example"
					*ngIf="isLogged"
        >
          <button
            type="button"
            class="btn btn-outline-success p-1"
						routerLink="/editedu/{{Educacion.id}}"
          >
            <i class="bi bi-pencil-square"></i>
            Editar
          </button>

          <button
            type="button"
            class="btn btn-outline-danger p-1"
						(click)="delete(Educacion.id)"
          >
            <i class="bi bi-x-square"></i>
            Borrar
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
