<div class="m-5" *ngIf="expLab">
  <h1>Actualizar experiencia</h1>

  <form (ngSubmit)="onUpdate()" novalidate #form="ngForm">
    <!-- puesto -->
    <div class="mb-3">
      <label for="nombreExp" class="form-label">Puesto</label>
      <input
        type="text"
        class="form-control"
        id="nombreExp"
        name="nombreExp"
        [(ngModel)]="expLab.nombreExp"
        required
        placeholder="Puesto ocupado"
      />
    </div>

    <!-- Empresa -->
    <div class="mb-3">
      <label for="lugarExp" class="form-label">Empresa</label>
      <input
        type="text"
        class="form-control"
        id="lugarExp"
        name="lugarExp"
        [(ngModel)]="expLab.lugarExp"
        required
        placeholder="Empresa"
      />
    </div>

    <!-- Fecha -->
    <div class="mb-3">
      <label for="fechaExp" class="form-label">Fecha Ingreso - Egreso</label>
      <input
        ttype="text"
        class="form-control"
        id="fechaExp"
        name="fechaExp"
        [(ngModel)]="expLab.fechaExp"
        required
        placeholder="mm-aaaa / mm-aaaa"
      />
    </div>

    <div class="mb-3">
      <label for="descripcionExp" class="form-label">Desciption</label>
      <textarea
        class="form-control"
        id="descripcionExp"
        name="descripcionExp"
        [(ngModel)]="expLab.descripcionExp"
        required
        rows="3"
        placeholder="Desciption de tareas realizadas"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-success">Actualizar experiencia</button>
  </form>
</div>
