<div id="experiencia" class="container my-5">
  <div class="">
    <div class="row p-3 bg">
      <h4 class="col-md-10 col-12 pt-3"><u>Experiencia laboral</u></h4>
      <button
        type="button"
        class="btn btn-outline-dark col-md-2 col-12"
        routerLink="/nuevaexp"
        *ngIf="isLogged"
      >
        Agregar experiencia
      </button>
    </div>
  </div>

  <div class="card mb-3 bg-success" *ngFor="let Experiencia of exp">
    <div class="row g-0">
      <div class="col-12 col-md-3 d-flex justify-content-center">
        <img
          src="{{ Experiencia.imgExp }}"
          class="img-fluid"
          alt="logo {{ Experiencia.lugarExp }}"
        />
        <!-- <p>{{ Experiencia.imgExp }}</p> -->
      </div>
      <div class="col-12 col-md-9">
        <div class="card-body">
          <h4>{{ Experiencia.nombreExp }}</h4>
          <h5 class="text-muted">{{ Experiencia.fechaExp }}</h5>
          <h6>{{ Experiencia.lugarExp }}</h6>
          <p>{{ Experiencia.descripcionExp }}</p>
          
          <div class="d-flex justify-content-center">
            <div
              class="btn-group btn-group-sm"
              role="group"
              aria-label="Basic outlined example"
              *ngIf="isLogged"
            >
              <button
                type="button"
                class="btn btn-outline-success p-1 fs-5"
                routerLink="/editexp/{{ Experiencia.id }}"
              >
                <abbr title="Editar"><i class="bi bi-pencil-square px-3"></i></abbr>
              </button>

              <button
                type="button"
                class="btn btn-outline-danger p-1 fs-5"
                (click)="delete(Experiencia.id)"
              >
                <abbr title="Borrar"><i class="bi bi-x-square px-3"></i></abbr>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
