<div class="card">

    <div class="">
        <ul class="p-5 pt-0 list-group">
            <h4>Experiencia laboral</h4>

            <li class="list-group-item ps-1">
                <h4>Puesto</h4>
                <h5 class="text-muted">fecha</h5>
                <a href="">empresa</a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ullam ut debitis doloremque nam, sint aliquam asperiores dolorum aperiam hic.</p>
            </li>

            <li class="list-group-item ps-1">
                <h4>Puesto</h4>
                <h5 class="text-muted">fecha</h5>
                <a href="">empresa</a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ullam ut debitis doloremque nam, sint aliquam asperiores dolorum aperiam hic.</p>
            </li>

            <li class="list-group-item ps-1">
                <h4>Puesto</h4>
                <h5 class="text-muted">fecha</h5>
                <a href="">empresa</a>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut ullam ut debitis doloremque nam, sint aliquam asperiores dolorum aperiam hic.</p>
            </li>

          </ul>
    </div>
    
</div>