<div class="card m-5 border-0">
  <div class="">
    <ul class="list-group">
      <li class="row p-3">
        <h4 class="col-xl-10 col-8 pt-3"><u>Experiencia laboral</u></h4>
        <button
          type="button"
          class="btn btn-outline-dark col-xl-2 col-4"
          routerLink="/nuevaexp"
          *ngIf="isLogged"
        >
          Agregar experiencia
        </button>
      </li>

      <li class="list-group-item p-3" *ngFor="let Experiencia of exp">
        <h4>{{ Experiencia.nombreExp }}</h4>
        <h5 class="text-muted">{{ Experiencia.fechaExp }}</h5>
        <h6>{{ Experiencia.lugarExp }}</h6>
        <p>{{ Experiencia.descripcionExp }}</p>

        <div
          class="btn-group btn-group-sm"
          role="group"
          aria-label="Basic outlined example"
					*ngIf="isLogged"
        >
          <button
            type="button"
            class="btn btn-outline-success p-1"
						routerLink="/editexp/{{Experiencia.id}}"
          >
            <i class="bi bi-pencil-square"></i>
            Editar
          </button>

          <button
            type="button"
            class="btn btn-outline-danger p-1"
						(click)="delete(Experiencia.id)"
          >
            <i class="bi bi-x-square"></i>
            Borrar
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
