<div class="m-5">
  <h1>Nueva experiencia</h1>

  <form (ngSubmit)="onCreate()" novalidate #form="ngForm">
    
    <!-- puesto -->
    <div class="mb-3">
      <label for="nombreExp" class="form-label">Puesto</label>
      <input
        type="text"
        class="form-control "
        id="nombreExp"
        name="nombreExp"
        [(ngModel)]="nombreExp"
        required
        placeholder="Puesto ocupado"
      />
    </div>

    <!-- Empresa -->
    <div class="mb-3">
      <label for="lugarExp" class="form-label">Empresa</label>
      <input
        type="text"
        class="form-control"
        id="lugarExp"
        name="lugarExp"
        [(ngModel)]="lugarExp"
        required
        placeholder="Empresa"
      />
    </div>

    <!-- Fecha -->
    <div class="mb-3">
      <label for="fechaExp" class="form-label">Fecha Ingreso - Egreso</label>
      <input
        ttype="text"
        class="form-control"
        id="fechaExp"
        name="fechaExp"
        [(ngModel)]="fechaExp"
        required
        placeholder="mm-aaaa / mm-aaaa"
      />
    </div>

    <div class="mb-3">
      <label for="descripcionExp" class="form-label">Desciption</label>
      <textarea
        class="form-control"
        id="descripcionExp"
        name="descripcionExp"
        [(ngModel)]="descripcionExp"
        required
        rows="3"
        placeholder="Desciption de tareas realizadas"
      ></textarea>
    </div>
    
        <!-- Imagen -->

    <div class="mb-3">
      <label for="imgPerfil" class="form-label">Logo de la empresa</label>
      <input
        type="file"
        class="form-control"
        id="imgPerfil"
        name="imgPerfil"
        [(ngModel)]="imgExp"
        required
        accept="image/*"
        (change)="uploadImage($event)"
      />
    </div>




    <button type="submit" class="btn btn-success">Agregar experiencia</button>
  </form>
</div>
