<div class="navbar navbar-expand-md navbar-dark bd-navbar bg-dark bg-gradient">
  <nav
    class="container-xxl flex-wrap flex-md-nowrap"
    aria-label="Main navigation"
  >
    <figure class="my-0">
      <img
        src="../../../assets/APLogo.png"
        alt="logo argentina programa"
        width="120"
      />
      <figcaption class="text-white px-2">#YoProgramo</figcaption>
    </figure>

    <button
      class="navbar-toggler"
      type="submit"
      data-bs-toggle="collapse"
      data-bs-target="#bdNavbar"
      aria-controls="bdNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="bi"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </button>

    <div class="collapse navbar-collapse" id="bdNavbar">
      <hr class="d-md-none text-white-50" />

      <ul class="navbar-nav flex-row flex-wrap ms-md-auto align-items-center">
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link p-2"
            href="https://www.facebook.com/cristian.brizuela.83"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-facebook fs-1"></i>
            <small class="d-md-none ms-2">Facebook</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link p-2"
            href="https://www.instagram.com/cristian.brz_"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-instagram fs-1"></i>
            <small class="d-md-none ms-2">Instagram</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link p-2"
            href="https://github.com/CristianBrz"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="bi bi-github fs-1"></i>
            <small class="d-md-none ms-2">GitHub</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link p-2"
            href="https://t.me/Cristian_Brz"
            target="_blank"
            rel="noopener"
          >
            <i class="bi bi-telegram fs-1"></i>
            <small class="d-md-none ms-2">Telegram</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a
            class="nav-link p-2"
            href="https://www.linkedin.com/in/cristian-andres-brizuela/"
            target="_blank"
            rel="noopener"
          >
            <i class="bi bi-linkedin fs-1"></i>
            <small class="d-md-none ms-2">Linkedin</small>
          </a>
        </li>
      </ul>

      <button
        class="btn btn-bd-login d-lg-inline-block my-2 my-md-0 ms-md-3 bg-warning text-white"
        (click)="login()"
        *ngIf="!isLogged"
      >
        Editar
      </button>
      <button
        class="btn btn-bd-login d-lg-inline-block my-2 my-md-0 ms-md-3 bg-danger text-white"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        Terminar
      </button>
    </div>
  </nav>
</div>
