<div class="card m-5 mt-0">
  <div class="ps-3">
    <img
      src="../../../assets/Perfil.jpeg"
      alt="foto de perfil"
      width="100"
      class=" border border-secondary b-2 rounded-circle"
      id="fotodeperfil"
    />
  </div>

  <div class="card-body pt-5 mt-4">
    <h4 class="card-title">{{persona.nombre}} {{persona.apellido}}</h4>
    <h5 class="card-subtitle mb-2 text-muted pb-3">
      {{persona.titulo}}
    </h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Acerca de mi</h6> -->

    <p class="card-text pb-3">
      {{persona.descripcion}}
    </p>
</div>
