<div class="row">
  <article class="card bg-primary text-white fondo-card shadow-sm">
    <div class="card-body">
      <div class="d-flex mb-3">
        <img
          src="../../../assets/Perfil.jpeg"
          alt="" width="100"
          class="border border-secondary border-3 rounded-circle"
        />
        <div class="ps-3">
          <h6 class="m-0 h6">Daniel Clifford</h6>
          <p class="m- h6">Lorem, ipsum.</p>
        </div>
      </div>

      <div>
        <p class="h6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsam
          ratione, quos adipisci necessitatibus repudiandae. Tempore natus velit
          veniam laboriosam molestias at ullam minus eligendi, dicta veritatis
          quaerat illo iste.
        </p>
        <p class="fs-6 lh-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima magnam
          dolorem alias pariatur hic vitae est. Tempore voluptate eaque
          possimus!
        </p>
      </div>
    </div>
  </article>
</div>

<!-- <div class="row">
    <div class="card mb-3 row">
        <div>
            <img
            style="width: 18rem"
            src="../../../assets/Perfil.jpeg"
            class="card-img-top rounded-circle"
            alt="Foto de perfil"
          /></div>
        <div class="card-body">
      
          <h4 class="card-title">Cristian Andrés Brizuela</h4>
          <h5 class="card-subtitle mb-2 text-muted">Full Stack Developer</h5>
          <h6 class="card-subtitle mb-2 text-muted">Acerca de mi</h6>
      
          <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime fugiat quas illo eius, cumque quod neque quam odio esse aliquam repellat ipsum dicta, quo quasi dolor ducimus, laboriosam placeat velit?
          </p>
          <a href="#" class="btn btn-dark">Go somewhere</a>
        </div>
      </div>
</div> -->
