<div class="card m-5 mt-0" *ngFor="let persona of persona">
  <div class="ps-3">
    <img
      src="{{ persona.imgPerfil }}"
      alt="foto de perfil"
      class="border rounded-circle"
    />
  </div>

  <div class="card-body pt-5 mt-4">
    <div class="d-flex justify-content-between">
      <h3 class="card-title">
        {{ persona.nombre }} {{ persona.apellido }}
      </h3>
      <button
        *ngIf="isLogged"
        type="button"
        class="btn btn-outline-success mx-3"
        routerLink="/editacercade/{{ persona.id }}"
      >
        <abbr title="Editar"><i class="bi bi-pencil-square px-1"></i></abbr>
      </button>
    </div>

    <h5 class="card-subtitle mb-2 text-muted pb-3">
      {{ persona.titulo }}
    </h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Acerca de mi</h6> -->

    <p class="card-text pb-3">
      {{ persona.descripcion }}
    </p>
  </div>
</div>
