<div class="m-5">
  <h1>Editar persona</h1>

  <form (ngSubmit)="onUpdate()" novalidate #form="ngForm">
    <!-- nombre -->

    <label for="nombre" class="form-label">Nombres</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      name="nombre"
      [(ngModel)]="persona.nombre"
      required
      placeholder="Nombres"
    />

    <!-- Apellido -->

    <label for="apellido" class="form-label">Apellido</label>
    <input
      type="text"
      class="form-control"
      id="apellido"
      name="apellido"
      [(ngModel)]="persona.apellido"
      required
      placeholder="Apellido"
    />

    <!-- titulo -->

    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        name="titulo"
        [(ngModel)]="persona.titulo"
        required
        placeholder="Titulo"
      />
    </div>

    <div class="mb-3">
      <label for="descripcionExp" class="form-label">Acerca de mi</label>
      <textarea
        class="form-control"
        id="descripcionExp"
        name="descripcionExp"
        [(ngModel)]="persona.descripcion"
        required
        rows="3"
        placeholder="Desciption de tareas realizadas"
      ></textarea>
    </div>

    <!-- Imagen de perfil -->

    <div class="mb-3">
      <label for="imgPerfil" class="form-label">Imagen de perfil</label>
      <input
        type="file"
        class="form-control"
        id="imgPerfil"
        name="imgPerfil"
        [(ngModel)]="persona.imgPerfil"
        required
        accept="image/*"
				(change)="uploadImage($event)"
      />
    </div>

    <button type="submit" class="btn btn-success">Editar</button>
  </form>
</div>
